<!DOCTYPE html>
<html>
  <% include head.html %>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <% include header.html %>

    <!-- Left side column. contains the logo and sidebar -->
    <% include sidebar.html %>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <%- body%>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
<!-- ./wrapper -->
<% include footer.html %>

</body>
</html>
