<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Data Tables</title>
    <% include head.html %>
    <% if (cssPath) { %>
        <link rel="stylesheet" href="<%- cssPath %>">
    <% } %>
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <% include header.html %>

    <!-- Left side column. contains the logo and sidebar -->
    <%- sidebar%>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <%- body%>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</div>
<% include footer.html %>
<!-- pageScript -->
<% if (jsPath) { %>
    <script src="<%- jsPath %>"></script>
<% } %>
<!-- ./wrapper -->
</body>
</html>
